<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R E ! G N</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">R E ! G N</div>
        <div class="navigation">
            <div class="nav-details">HOME
                <select name="" id="">
                    <option value=""></option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                </select>
            </div>
            <div class="nav-details">PAGES
                <select name="" id="">
                    <option value=""></option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                </select>
            </div>
            <div class="nav-details">COMPONENTS
                <select name="" id="">
                    <option value=""></option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                </select>
            </div>
            <div class="nav-details">DOCS
                <select name="" id="">
                    <option value=""></option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                </select>
            </div>
        </div>    
    </nav>
    <div class="home" id="home">
        <center>
        <h1>INTRODUCING REIGN</h1>
        <p>One & multi page multipurpose template</p>
        </center>
    </div>
    <div class="container">
        <div class="content">
            <h3>DEFAULT DEMO</h3>
            <p>Reign is a multi-demo Bootstrap 5 Template that comes packed with endless number of UI component and plugin options. It’s perfectly crafted and optimized with exceptional design and advanced layout features best suited for any small business and agency website.</p>
            <div class="btn">
                <button type="submit">PREVIEW</button><span><button type="submit">RTL VERSION</button></span>
            </div>
        </div>
            
        <div class="content">
            <img src="https://prium.github.io/reign-IV/v5.0.0/assets/img/screenshots/default.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="content"></div>
        <div class="content"></div>
    </div>
    <footer class="footer">
        <div class="right">Thank you for creating with Reign © 2022| v5.0.0</div>
        <div class="made">Made with by KIRAN</div>
    </footer>
</body>
</html>